* {
    margin: 0px 0px;
}
body{
    background-color: black; 
    color: white;
}
.heading {
    position: relative;
    text-align: center;
    margin-top: 50px;
    font-family: futura;
}
.heading span{
    color: red;
}

.DOB {
    position: relative;
    font-size: 15px;
    top:5px;
}

.photo{
    position: relative;
    float: right;
    
}
.photo img{
    margin-right: 30px;
    margin-top: 28px;
    height: 450px;
    width: 700px;
    background-color: blue;
    
}
/*  */

.middle {
    position: relative;
    top: 100px;
    left: 80px;
    width: 450px;
    font-size: 20px;
}
.middle  h2{
    font-family: futura;

}

.span1 {
    color: red;
    
}

.middle2 {
    position: relative;
    margin-top: 15px;
    left: 10px;
}

.bio {
    position: absolute;
    top: 580px;
    text-align: center;
    background-color: white;
    color: black;
   
    padding: 30px 400px;
    
}

.header {
    position: relative;
    top: 30px;
    padding-bottom: 25px;
}

.head2 {
    margin-bottom: 15px;
    font-size: 28px;
    font-family: futura;
}

.para {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 27px;
}

.anch {
    text-decoration: none;
    padding-left: 10px;
    color: rgb(255, 3, 3);
}


